<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytic | Error</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <div class="text">
            <h1>Ups... something went wrong 🛸</h1>
        </div>
        <div class="image">
            <img src="/img/data.png" alt="Bildbeschreibung">
            <a href="https://storyset.com/business">Business illustrations by Storyset</a>
        </div>
    </div>
</body>
</html>