<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytic | Landing Page</title>
    <link rel="stylesheet" href="/css/index.css">
<body>
    <div class="container">
        <div class="text">
            <h1>Analytic Control Panel 🛸</h1>
            <p>Analytic is a versatile Discord bot for detailed server stats, activity tracking, growth visualization, and community insights.</p>
            <button onclick="window.location.href = '/login'">Login</button>
        </div>
        <div class="image">
            <img src="/img/data.png" alt="Bildbeschreibung">
            <a href="https://storyset.com/business">Business illustrations by Storyset</a>
        </div>
    </div>
</body>
</html>


    
